@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Signika', sans-serif;
    font-weight: 700;
}

nav {
    display: flex;
    height: 80px;
    width: 100%;
    /* background: #1b1b1b; */
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
}

nav .logo {
    color: rgb(0, 0, 0);
    font-size: 35px;
    font-weight: 600;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav ul li {
    margin: 0 5px;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

nav ul li a.active,
nav ul li a:hover {
    color: rgb(21, 241, 113);
    background: #fff;
}

nav .menu-btn i {
    color: rgb(0, 0, 0);
    font-size: 22px;
    cursor: pointer;
    display: none;
}

.margin {
    width: 900px;
    height: 300px;
    border-radius: 50px;
    margin-left: 230px;
    margin-top: 50px;
}

.section {
    border: 2px solid rgb(175, 173, 173);
    border-radius: 50px;
}

.btn-style {
    background-color: black;
}

.font {
    font-size: 20px;
    text-decoration: line-through;
}

.style {
    color: rgb(185, 182, 179);
}

.font-style {
    font-size: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
    color: rgb(0, 255, 34);
}

/* .swiper {
    width: 90%;
    height: 50%;
} */

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-radius: 18px; */
    /* font-size: 22px;
    font-weight: bold;
    color: #fff; */
}

.feature {
    margin-top: 300px;
    text-align: center;
    margin-bottom: 30px;
}

.bg {
    background-color: rgb(217, 220, 223);
    border-radius: 100%;
}

.shadow {
    /* border: 1px solid; */
    box-shadow: 1px;
}

/* .postion {
    position: relative;
} */

/* .banner {
    margin-top: 200px;
} */

input[type="checkbox"] {
    display: none;
}

@media (max-width: 1000px) {
    nav {
        padding: 0 40px 0 50px;
    }
}

@media (max-width: 920px) {
    nav .menu-btn i {
        display: block;
    }

    #click:checked~.menu-btn i:before {
        content: "\f00d";
    }

    nav ul {
        position: fixed;
        top: 80px;
        left: -100%;
        background: rgb(255, 255, 255);
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }

    #click:checked~ul {
        left: 0;
    }

    nav ul li {
        width: 100%;
        margin: 40px 0;
    }

    nav ul li a {
        width: 100%;
        margin-left: -100%;
        display: block;
        font-size: 20px;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    #click:checked~ul li a {
        margin-left: 0px;
    }

    nav ul li a.active,
    nav ul li a:hover {
        background: none;
        color: rgb(0, 245, 122);
    }

    .margin {
        width: 420px;
        margin-left: 0;
    }

    .feature {
        margin-top: 620px;
        font-weight: 700;
    }
}

.feat {
    border-radius: 30px;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: -1;
    width: 100%;
    padding: 0 30px;
    color: #1b1b1b;
}

.content div {
    font-size: 40px;
    font-weight: 700;
}